/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --muted-orange: #fe9a12;
  --muted-blue: #1aa5bf;
  --muted-green: #7ecc77;

  --darker-orange: #fe881e;
  --darker-blue: #64acc5;
  --darker-green: #679f16;

  --alt-orange: #ff7b17;
  --alt-blue: #129dbc;
  --alt-green: #e2dc16;

  --yellow-gold: #ffaa00;
  --yellow-brown: #593a25;
  --yellow-green: #9aac1a;
  --yellow-blue: #2f4858;
  --yellow-teal: #006673;
  --yellow-black: #000;

  --door-blue: #0a1f4e;
  --door-beige: #f1cba7;
  --door-light-blue: #63a7be;

  --door-orange: #fc6935;
  --door-green: #8fa96a;
  --door-medium-blue: #037192;
}

.mp-bg-gold {
  background-color: var(--yellow-gold);
}

.mp-bg-brown {
  background-color: var(--yellow-brown);
}

.mp-bg-green {
  background-color: var(--door-green);
}

.mp-bg-blue {
  background-color: var(--door-medium-blue);
}

.mp-bg-orange {
  background-color: var(--door-orange);
}

.mp-bg-teal {
  background-color: var(--yellow-teal);
}

.mp-bg-black {
  background-color: var(--yellow-black);
}

body {
  color: var(--door-blue);
}

.hidden {
  visibility: hidden;
}

header {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pageHeader {
  flex: 0.4;
  min-width: 400px;
  display: flex;
}

.switchAccountsBtn {
  cursor: pointer;
  margin: 5px 0 10px 5px;
  /* font-size: 0.5em; */
}

header nav {
  flex: 0.6;
}

footer {
  padding: 0 1.5%;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}

nav a {
  /* margin-top: 10px; */
  padding: 0 25px;
  background-color: var(--door-blue);
  color: whitesmoke;
  line-height: 60px;
  font-size: large;
  min-width: 225px;
}

nav a:hover {
  color: var(--door-blue);
  background-color: white;
  border-bottom: 3px solid var(--door-blue);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 95%;
  margin: 0 auto;
  border: 2px solid var(--door-blue);
  padding: 10px;
  flex-wrap: wrap;
}

.user_panel {
  flex: 0.25;
  border: 1px solid lightgrey;
  padding: 5px;
  min-width: 300px;
  overflow-y: auto;
}

.user_top {
  display: flex;
  flex-direction: column;
}

.user_photo {
  flex: 0.5;
  border: 2px solid var(--door-blue);
  max-width: 200px;
  text-align: center;
  margin: 15px auto;
  padding: 15px;
}

.btn_group {
  flex: 0.4;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 2%;
  /* border: 2px solid var(--door-blue); */
}

/* .btn_group_delete {
} */

.btn_meal_delete,
.btn_menu_delete {
  margin: 0.3em 0 0 7em;
  cursor: pointer;
  padding: 10px;
}

.btn_meal_delete {
  margin-left: 13.5em;
}

.btn {
  min-width: 115px;
  height: 35px;
  border-color: var(--door-blue);
  margin: 0 10px;
  font-size: 1.2em;
}

.btn:hover {
  background-color: var(--yellow-gold);
}

.btn_user,
.btn_menu,
/* .btn_menu_delete, */
.btn_meal {
  cursor: pointer;
  padding: 20px;
}

.btn_user:hover {
  /* color: whitesmoke; */
  background-color: var(--yellow-gold);
}

.btn_menu:hover {
  /* color: whitesmoke; */
  background-color: var(--door-orange);
}

.btn_meal:hover {
  color: whitesmoke;
  background-color: var(--door-medium-blue);
}

.user_info {
  margin: 3px auto;
  font-size: 1.2em;
}

.menu_planner {
  flex: 0.74;
  /* border: 1px solid lightgrey; */
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: 600px;
  /* max-width: 800px; */
}

aside {
  flex: 0.28;
  border: 1px solid var(--door-blue);
  font-size: 1.1em;
}

aside:nth-child(2) {
  margin: 2% 0;
}

.aside_header {
  display: flex;
  border-bottom: 2px solid var(--door-medium-blue);
}

.aside_header_title {
  flex: 0.9;
  padding: 0 1%;
  display: flex;
  /* vertical-align: text-bottom; */
}

.aside_header_title_meals,
.seeAll_meals {
  color: whitesmoke;
}

.aside_header_title_menus,
.aside_header_title_meals,
.aside_header_title_food {
  font-size: 1.1em;
}

.addBtn {
  cursor: pointer;
  margin: 12px 0 15px 10px;
}

.user_selection,
.food_selection {
  margin: 15px 15px 0 15px;

  height: 30px;
  width: 175px;
  align-self: center;
}

.select_user {
  display: flex;
  min-width: 500px;
}

.aside_header_center {
  flex: 0.5;
  align-self: center;
  text-align: left;
}

.aside_header_seeAll {
  flex: 0.2;
  align-self: center;
  /* margin-top: 25px;*/
  text-align: right;
  padding-right: 15px;
}

.aside_body {
  display: flex;

  padding: 10px 15px;
  overflow-x: auto;
}

.aside_body a {
  text-decoration: none;
}

.card {
  margin: 15px;
  padding: 5px 10px;
  width: 175px;
  height: 125px;
  font-size: 1.1em;
  text-align: center;
  border: 1px solid lightgrey;
}

.card_menu_item:hover,
.card_meal_item:hover,
.card_food_item:hover {
  color: whitesmoke;
  border: 1px solid var(--door-blue);
}

.card_menu_item:hover {
  background-color: var(--door-orange);
}

.card_meal_item:hover {
  background-color: var(--door-medium-blue);
  color: whitesmoke;
}

.card_food_item:hover {
  background-color: var(--door-green);
}

.user_container,
.menu_container,
.meal_container,
.food_container {
  padding: 25px;
  font-size: 1.4em;
  border: 1px solid lightgrey;
}

.user_title,
.menu_title,
.meal_title,
.food_title {
  width: 100%;
  border-bottom: 2px solid var(--door-blue);
  padding: 5px 10px;
}

.user_title {
  background-color: var(--yellow-gold);
}

.menu_title {
  background-color: var(--door-orange);
  display: flex;
}

.meal_title {
  color: whitesmoke;
  background-color: var(--door-medium-blue);
  display: flex;
}

.food_title {
  background-color: var(--door-green);
}

.menu_details,
.meal_details,
.food_details {
  padding: 10px;
  border: 2px solid lightgrey;
}

.menu_breakfast,
.menu_morning_snack,
.menu_lunch,
.menu_afternoon_snack,
.menu_dinner,
.menu_evening_snack {
  border-bottom: 2px solid lightgrey;
}

.menu_evening_snack {
  margin-bottom: 25px;
}

.list_all {
  display: flex;
  flex-wrap: wrap;
}

input[type='text'] {
  width: 100%;
}

footer {
  display: none;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
}

/* tooltip style */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--door-blue);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
